node_modules/
public/js

/target
/checkouts
/src/gen
/src/meta
extension/out/
extension/manifest.json
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.cpcache/
.hgignore
.hg/
.cljs_node_repl/
out/
resources/
resources/public/main/js/
resources/public/test/js/
resources/public/workspaces/js/
*.*~
output.html
launch.ps1
