{:paths ["src/main"]

 :deps {expound/expound     {:mvn/version "0.7.2"}
        org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases {:all-tests     {:extra-paths ["src/test"]
                           :main-opts   ["-m" "kaocha.runner"]
                           :extra-deps  {lambdaisland/kaocha      {:mvn/version "0.0-521"}
                                         lambdaisland/kaocha-cljs {:mvn/version "0.0-32"}}}           
           :jar           {:extra-deps {seancorfield/depstar {:mvn/version "0.2.1"}}
                           :main-opts  ["-m" "hf.depstar.jar" "target/cark.behavior-tree.jar"]}
           :dev           {:extra-paths ["src/test" "src/dev"]
                           :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
                           :extra-deps  {org.clojure/clojurescript  {:mvn/version "1.10.520"}
                                         thheller/shadow-cljs       {:mvn/version "2.8.37"}
                                         binaryage/devtools         {:mvn/version "0.9.10"}
                                         lilactown/punk-adapter-web {:mvn/version "0.0.7"}}}
           ;;:deploy {:extra-paths ["src/meta" "src/deploy"]}
           :garamond      {:main-opts  ["-m" "garamond.main"
                                        "-p" ""
                                        "-g" "cark"
                                        "-a" "cark.behavior-tree"
                                        "-u" "https://github.com/cark/cark.behavior-tree"]
                           :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}
           :metav         {:extra-deps {metav {:mvn/version "1.5.1"}}}
           :artifact-name {:extra-deps {metav {:mvn/version "1.5.1"}}
                           :main-opts  ["-m" "metav.display"
                                        "-r" "cark/behavior-tree"]}
           :release       {:extra-deps {metav {:mvn/version "1.5.1"}}
                           :main-opts  ["-m" "metav.release"
                                        "-r" "cark.behavior-tree"]}
           :spit          {:extra-deps  {metav {:mvn/version "1.5.1"}}
                           :extra-paths ["src/meta"] 
                           :main-opts   ["-m" "metav.spit"
                                         "-r" "cark/behavior-tree"
                                         "--output-dir" "src/meta"
                                         "--namespace" "cark.behavior-tree.meta"
                                         "--formats" "cljc"]}
           :deploy        {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                           :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy"
                                        "target/cark.behavior-tree.jar"]}}}
